@model NewsCategory
<div name="editNewsCategory">
    <div class="my-2">
        <input type="hidden" name="newsCategoryId" value="@Model.NewsCategoryId"/>
        <input type="text" name="newsCategoryName" class="form-control" value="@Model.NewsCategoryName" />
        @*<button type="button" class="btn btn-danger">Удалить</button>*@
    </div>
</div>