@model IEnumerable<NewsCategory>
@{
    Layout = "_Layout";
}
<form method="post" asp-action="Create">
    <div class="input-group">
        <input type="text" class="form-contol"/>
        <button type="submit" name="createNewsCategoryButton" class="btn btn-success">Создать категорию</button>
    </div>
</form>

@foreach(NewsCategory nc in Model) {
    <partial name="Edit" model="nc"/>
}

@section Scripts {
    <script>
        // Асинхронное обновление категорий
        $("body").on("change", "input[name='newsCategoryName']", function () {
            const model = {
                newCategoryId = $(this).parents("div[name='editNewsCategory']").find("input[name='newsCategoryId']").val(),
                newCategoryName = $(this).val()
            }

            fetch("newsCategory/edit", {
                method: "PUT",
                headers: {
                    "application/json"
                },
                body: JSON.stringify(model)
            })
                .then(res => res.text)
                .then(res => {
                    this.parents("div[name='editNewsCategory']").html(res);
                });
        });
    </script>
}