@{
	Layout = "_Layout";
}

<div class="col-lg-8">
	<form method="POST" asp-controller="News" asp-action="Read">
		<div class="row">
			<div class="col-sm-6">
				<label for="">Дата</label>
				<input type="text" class="form-control">
			</div>
			<div class="col-sm-6">
				<label for="">Тип</label>
				<input type="text" class="form-control">
			</div>
		</div>
		<div>
			<label for="">Короткое название</label>
			<input type="text" class="form-control">
		</div>
		<div>
			<label for="">Полное название</label>
			<textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
		</div>
		<div>
			<label for="">Содержание</label>
			<textarea id="editor" name="text" cols="30" rows="10"></textarea>
		</div>
	</form>
</div>

@section Scripts {
	<script src="~/lib/ckeditor/ckeditor.js"></script>
	<script src="~/lib/ckeditor/uploader.js"></script>

}
