@model SelectList

@{
	Layout = "_Layout";
	string Today = DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="col-lg-8">
	<form method="POST" asp-controller="News" asp-action="Create">
		<div class="row my-2">
			<div class="col-sm-6">
				<label for="">Дата</label>
				<input type="date" class="form-control" name="data" value="@Today" required>
			</div>
			<div class="col-sm-6">
				<label for="">Тип</label>
				<select asp-items="Model" name="NameCategory" class="form-select"></select>
			</div>
		</div>
		<div class="my-2">
			<label for="">Короткое название</label>
			<input type="text" class="form-control" name="NameShort" maxlength="200" required>
		</div>
		<div class="my-2">
			<label for="">Полное название</label>
			<textarea class="form-control" name="NameLong" id="" cols="30" rows="3" required></textarea>
		</div>
		<div class="my-2">
			<label for="">Содержание</label>
			<textarea id="editor" class="form-control" name="Text" cols="30" rows="3" ></textarea>
		</div>
		<div class="my-2">
			<input type="submit" value="Создать" class="btn btn-success ">
			<a asp-controller="News" asp-action="Index" class="btn btn-link ">Вернуться</a>

		</div>
	</form>
</div>

@section Scripts {
	<script src="~/lib/ckeditor/ckeditor.js"></script>
	<script src="~/lib/ckeditor/uploader.js"></script>
}
